!!!
%html{ lang: I18n.locale }
  %head
    %title Translations Admin
    = stylesheet_link_tag    "i18n_admin/application", media: "all"
    = javascript_include_tag "i18n_admin/application"
    = csrf_meta_tags

  %body
    = display_flash
    = yield
