<div class="container-fluid main-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h1 class="panel-title">
            <%= t('i18n_admin.translations.title') %>
          </h1>
        </div>

        <div class="col-md-6">
          <div class="pull-right">
            <h2>
              <%= t('i18n_admin.translations.choose_locale') %>
            </h2>

            <div class="btn-group">
              <% @locales.each do |locale| %>
                <%= link_to translations_path(locale: locale), class: "btn btn-primary#{ ' active' if current_locale == locale }" do %>
                  <%= locale %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-heading panel-subheading">
      <div class="row">
        <div class="col-md-6 pagination-column">
          <%= render partial: 'pagination', locals: { translations: @translations } %>
        </div>

        <div class="col-md-6">
          <%= form_tag translations_path(locale: current_locale) do %>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </span>

              <%= text_field_tag :q, params[:q], class: 'form-control' %>

              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <%= t('i18n_admin.translations.search') %>
                </button>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%"><%= t('i18n_admin.translation_set.key') %></th>
            <th width="40%"><%= t('i18n_admin.translation_set.original', default_locale: I18n.default_locale) %></th>
            <th width="40%"><%= t('i18n_admin.translation_set.translation') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @translations  %>
        </tbody>
      </table>
    </div>

    <div class="panel-footer">
      <%= render partial: 'pagination', locals: { translations: @translations } %>
    </div>
  </div>
</div>
